.search {
    margin: 10px;
}
img {
    margin-top: 50px;
}
input {
    border-radius: 15px;
    width: 250px;
    height: 20px;
}
.input-icons i {
    position: absolute;
    width: 25px;
    height: 20px;
    text-align: left;
    margin-top: 12px;
    margin-left: 10px;
}
#mic{
    text-align: right;
}
.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: left;
}
  
.input-field {
    padding: 10px;
    text-align: center;
    width: 400px;
}
  